.item-link24 {
  flex: 1;
  position: relative;
  line-height: 20.8px;
  display: inline-block;
  min-width: 98px;
  flex-shrink: 0;
}
.item-link25,
.item-link26 {
  position: relative;
  color: inherit;
  flex-shrink: 0;
  text-decoration: none;
}
.item-link25 {
  font-size: 14.6px;
  line-height: 21px;
  display: inline-block;
  min-width: 75px;
}
.item-link26 {
  width: 77.5px;
  font-size: 14.5px;
  line-height: 20.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 77.5px;
}
.item-link-company-informat-group,
.list-child {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.item-link-company-informat-group {
  width: 331.4px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 13.8px;
}
.list-child {
  justify-content: center;
  padding: 0 20px;
}
.horizontal-divider2,
.list-child,
.list8 {
  align-self: stretch;
  box-sizing: border-box;
}
.horizontal-divider2 {
  height: 2px;
  position: relative;
  border-top: 2px dashed #fff;
}
.list8 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 4.1px 70px 0;
  gap: 31.7px;
  max-width: 100%;
}
.unity-esim-connect1 {
  width: 147.9px;
  position: relative;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.unity-esim-connect-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  font-size: 9.6px;
}
.image-12-layerstyle-icon1 {
  height: 41px;
  width: 33.4px;
  position: relative;
}
.image-12-layerstyle-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 21px 0 20px;
}
.container2,
.footer1 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.container2 {
  width: 1410px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 28px 5px 13.7px;
  gap: 24.6px;
}
.footer1 {
  align-self: stretch;
  background-color: #312d2d;
  flex-direction: row;
  justify-content: center;
  padding: 40px 20px;
  min-height: 352px;
  text-align: center;
  font-size: 14.9px;
  color: #fff;
  font-family: Inter;
}
@media screen and (max-width: 1200px) {
  .list8 {
    padding-left: 35px;
    padding-right: 35px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .list8 {
    gap: 16px;
  }
}
