.heading-12 {
  width: 252.8px;
  position: relative;
  line-height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.heading-1-privacy-policy-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 21.1px 21px;
  text-align: center;
  font-size: 38.4px;
  color: #000;
}
.information-processed-the,
.purposes-of-processing,
.such-processing,
.this-privacy-policy {
  display: block;
}
.this-privacy-policy-container {
  margin: 0;
  position: relative;
  line-height: 20.8px;
}
.heading-314 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 107px;
}
.heading-3-definitions-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 30px;
  font-size: 17px;
  color: #444;
}
.account3,
.span22 {
  font-family: Inter;
}
.account-means-a-customers-ac2,
.information-entered-during-the,
.system-and-which-contains-the {
  display: block;
}
.account-means-a-container2 {
  margin: 0;
  height: 62.4px;
  position: relative;
  line-height: 20.8px;
  display: flex;
  align-items: center;
}
.account-means-a-customers-ac-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px 0 30px;
}
.agreement3,
.span23 {
  font-family: Inter;
}
.agreement-means-the-terms-and2,
.the-terms-and-conditions-the {
  display: block;
}
.agreement-means-the-container2 {
  margin: 0;
  height: 42.5px;
  position: relative;
  line-height: 20.8px;
  display: flex;
  align-items: center;
}
.agreement-means-the-terms-and-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2px 0 30px;
}
.company3,
.span24 {
  font-family: Inter;
}
.and-parent-companies-involved,
.company-means-unity-esim-con2 {
  display: block;
}
.company-means-unity-container2 {
  margin: 0;
  height: 42.5px;
  flex: 1;
  position: relative;
  line-height: 20.8px;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.company-means-unity-esim-con-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 30px;
  box-sizing: border-box;
  max-width: 100%;
}
.customer-means-a-container2 {
  margin: 0;
  flex: 1;
  position: relative;
  line-height: 21px;
  display: inline-block;
  max-width: 100%;
}
.customer-means-a-registered-o-wrapper {
  width: 523px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 30px;
  box-sizing: border-box;
  max-width: 100%;
}
.data-privacy-laws,
.span25 {
  font-family: Inter;
}
.data-privacy-laws-mean-a-set,
.information-provided-by-the-cu,
.modifications-re-enactments-a,
.particular-the-european-union,
.subcontractors-data-privacy-l {
  display: block;
}
.gdpr {
  font-family: Inter;
}
.communications-the-luxembourg,
.gdpr-directive-200258ec-o,
.protection-of-privacy-in-the-e {
  display: block;
}
.data-privacy-laws-container {
  margin: 0;
  height: 167.3px;
  position: relative;
  line-height: 20.8px;
  display: flex;
  align-items: center;
}
.data-privacy-laws-mean-a-set-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 8px 0 28px;
}
.service,
.span26 {
  font-family: Inter;
}
.accordance-with-the-agreement,
.service-means-the-telecommuni,
.specific-types-of-communicatio {
  display: block;
}
.service-means-the-container {
  margin: 0;
  height: 63.3px;
  position: relative;
  line-height: 20.8px;
  display: flex;
  align-items: center;
}
.service-means-the-telecommuni-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 30px;
  font-size: 14.6px;
}
.permanent-roaming1,
.span27 {
  font-family: Inter;
}
.more-than-60-sixty-cumulativ1,
.period1,
.permanent-roaming-means-the-u1 {
  display: block;
}
.permanent-roaming-means-container1 {
  margin: 0;
  height: 63.3px;
  position: relative;
  line-height: 20.8px;
  display: flex;
  align-items: center;
}
.permanent-roaming-means-the-u-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 14px 0 30px;
}
.personal-data-has-container {
  margin: 0;
  position: relative;
  line-height: 21px;
}
.personal-data-has-the-meanin-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 30px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 15px;
}
.or-to,
.process,
.processing,
.span28 {
  font-family: Inter;
}
.consultation-use-disclosure,
.making-available-alignment-or,
.personal-data-whether-or-not,
.processing-or-to-process-me,
.recording-organization-struc {
  display: block;
}
.processing-or-to-container {
  margin: 0;
  position: relative;
  line-height: 20.8px;
}
.processing-or-to-process-me-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2px 0 30px;
  font-size: 15px;
}
.sim-card-means-container2 {
  position: relative;
  line-height: 21px;
}
.sim-card-means-as-the-case-m-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 30px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 14.9px;
}
.a-physical-sim2,
.requirements-of-the2 {
  display: block;
}
.a-physical-sim-container2 {
  margin: 0;
  position: relative;
  line-height: 20.8px;
}
.a-physical-sim-card-manufactur-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 33px 0 30px;
  font-size: 14.6px;
}
.an-esim-a2,
.compatible-customers-mobile2 {
  display: block;
}
.an-esim-a-container2 {
  margin: 0;
  position: relative;
  line-height: 20.8px;
}
.an-esim-a-downloadable-sim-pr-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 30px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 14.6px;
}
.price-of-and,
.which-is-designed2 {
  display: block;
}
.which-is-designed-container2 {
  margin: 0;
  height: 42.5px;
  position: relative;
  line-height: 20.8px;
  display: flex;
  align-items: center;
}
.which-is-designed-to-facilitat-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2px 0 28px;
}
.span29 {
  font-family: Inter;
}
.wwwunity-esimceu {
  color: #39f;
}
.span30 {
  color: #9a9e9e;
}
.website-means-the-container3 {
  margin: 0;
  flex: 1;
  position: relative;
  line-height: 20.8px;
  display: inline-block;
  max-width: 100%;
}
.website-means-the-companys-w-container {
  width: 450px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 30px;
  box-sizing: border-box;
  max-width: 100%;
}
.a-reference-to1,
.applicable-laws1 {
  font-family: Inter;
}
.a-reference-to-applicable-laws1,
.and-substitutions-that-is-app1,
.regulatory-requirement-includ1 {
  display: block;
}
.inter-alia {
  font-family: Inter;
}
.luxembourg-law-of-17-december1,
.the-european-electronic-commun1,
.the-european-parliament-and-of1,
.with-respect-to-the-company-t1 {
  display: block;
}
.a-reference-to-container1 {
  margin: 0;
  height: 146.5px;
  position: relative;
  line-height: 20.8px;
  display: flex;
  align-items: center;
}
.a-reference-to-applicable-laws-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 8px 0 30px;
  font-size: 15px;
}
.heading-315 {
  position: relative;
  line-height: 24px;
}
.heading-3-purpose-of-process-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 30px;
  font-size: 16.9px;
  color: #444;
}
.and-similar-incident,
.authorities-and-other,
.charges-depending-on,
.communication-signals-to,
.companys-rights-under,
.including-lawful-interception,
.marketing-sales-management,
.payment-instruments-applicati,
.permanent-roaming-contract,
.personal-data-is,
.required-by-applicable,
.services-aimed-to,
.services-and-the,
.services-to-develop,
.services-which-comprise,
.telecommunications-network-saf,
.the-processing-is {
  display: block;
}
.the-processing-is-container {
  margin: 0;
  height: 353.6px;
  position: relative;
  line-height: 20.8px;
  display: flex;
  align-items: center;
}
.the-processing-is-performed-ex-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 30px;
  font-size: 15px;
}
.processing-of-hisher,
.the-customer-hereby {
  display: block;
}
.the-customer-hereby-container {
  margin: 0;
  position: relative;
  line-height: 20.8px;
}
.the-customer-hereby-acknowledg-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 30px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 14.6px;
}
.compliance-with-data,
.customers-personal-data1,
.data-the-company,
.the-company-recognizes,
.through-instituting-policies {
  display: block;
}
.the-company-recognizes-container {
  margin: 0;
  position: relative;
  line-height: 20.8px;
}
.the-company-recognizes-the-imp-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 3px 0 30px;
}
.the-company-is1 {
  margin: 0;
  position: relative;
  line-height: 22.6px;
}
.the-company-is-a-data-controll-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 30px;
  box-sizing: border-box;
  max-width: 100%;
}
.heading-316 {
  position: relative;
  line-height: 24px;
}
.heading-3-not-for-children-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 30px;
  font-size: 17px;
  color: #444;
}
.a-customer-must,
.about-persons-under,
.applicable-law-the,
.by-a-person,
.delete-this-information,
.if-a-person,
.permitted-to-use,
.person-submitting-the,
.processes-such-information,
.such-information-will {
  display: block;
}
.a-customer-must-container {
  margin: 0;
  height: 208px;
  position: relative;
  line-height: 20.8px;
  display: flex;
  align-items: center;
}
.a-customer-must-be-at-least-18-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 5px 0 30px;
  font-size: 15px;
}
.heading-317 {
  margin: 0;
  position: relative;
  line-height: 24px;
}
.heading-3-personal-data-coll-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 30px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 16.7px;
  color: #444;
}
.heading-418 {
  position: relative;
  line-height: 22px;
}
.heading-4-information-provid-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 60px;
  box-sizing: border-box;
  max-width: 100%;
  color: #444;
}
.sim-card-ordering {
  text-decoration: underline;
}
.billing-information-and-contac,
.card-or-opens-an-account-the,
.confirming-the-customers-stro,
.information-about-identity-of,
.personal-identification-docume,
.registered-billing-shipping,
.requested-by-relevant-regulato,
.requested-by-the-company-in-ac,
.roaming-purposes-other-docume,
.sim-card-ordering-and-account,
.will-ask-for-the-customer-to-p {
  display: block;
}
.mispelled-sim-container {
  margin: 0;
  height: 228.8px;
  position: relative;
  line-height: 20.8px;
  display: flex;
  align-items: center;
}
.mispelled-sim-card-ordering-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 6px;
  font-size: 15.3px;
}
.authentication-data {
  text-decoration: underline;
}
.access-to-the-information-rela,
.authentication-data-the-compa,
.password-personal-identificat,
.purposes-of-authentication-in {
  display: block;
}
.mispelled-authentication-container {
  margin: 0;
  position: relative;
  line-height: 20.8px;
}
.mispelled-authentication-dat-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: 14.9px;
}
.payment-information {
  text-decoration: underline;
}
.and-may-retain-the-customers,
.financial-and-audit-control-of,
.fraudulent-or-similar-incident,
.information-on-the-company-sys,
.instrument-information-to-the,
.owed-to-the-company-as-a-resul,
.payment-information-when-the,
.the-company-does-not-store-the,
.the-companys-third-party-paym,
.third-party-payment-processors {
  display: block;
}
.mispelled-payment-container {
  margin: 0;
  height: 208.9px;
  position: relative;
  line-height: 20.8px;
  display: flex;
  align-items: center;
}
.mispelled-payment-informatio-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.communications {
  text-decoration: underline;
}
.communications-if-a-customer,
.company-may-ask-such-customer,
.contacting-customer-may-choose,
.name-email-address-phone-num,
.order-to-properly-handle-a-res {
  display: block;
}
.mispelled-communications-container {
  margin: 0;
  position: relative;
  line-height: 20.8px;
}
.mispelled-communications-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 4px;
}
.including-information-received,
.information-collected-when {
  display: block;
}
.information-collected-when-container {
  margin: 0;
  position: relative;
  line-height: 22px;
}
.information-collected-when-the-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 8px;
  font-size: 14.9px;
  color: #444;
}
.mispelled-cookies {
  position: relative;
  text-decoration: underline;
  line-height: 20.8px;
}
.mispelled-cookies-and-other-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 60px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 14.6px;
}
.and-activity-on,
.and-requests-the,
.efficiency-of-the,
.form-without-identification,
.purposes-and-all,
.to-allow-the {
  display: block;
}
.to-allow-the-container {
  margin: 0;
  position: relative;
  line-height: 20.8px;
}
.to-allow-the-company-to-consta-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 3px;
  font-size: 14.6px;
}
.advertisements-statistics-an,
.anonymous-tracking-of,
.companys-advertisements-whic,
.other-websites-the,
.the-company-or,
.the-website-to,
.third-party-vendors-to {
  display: block;
}
.anonymous-tracking-of-container {
  margin: 0;
  height: 146.5px;
  position: relative;
  line-height: 20.8px;
  display: flex;
  align-items: center;
}
.anonymous-tracking-of-the-webs-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 2px;
}
.a-cookie-is,
.a-visit-this,
.accept-cookies-but,
.and-such-visitor,
.areas-or-to,
.can-see-the,
.cookies-off-or,
.customer-disables-the,
.hisher-previously-provided,
.the-customer-an,
.the-website-and,
.under-hisher-login,
.web-server-that,
.website {
  display: block;
}
.a-cookie-is-container {
  margin: 0;
  height: 292.1px;
  position: relative;
  line-height: 20.8px;
  display: flex;
  align-items: center;
}
.a-cookie-is-a-piece-of-informa-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 5px;
}
.device-identification-data {
  text-decoration: underline;
}
.company-needs-an-information-t,
.device-identification-data-fo,
.identity-imei-number-intern,
.may-include-internet-protocol,
.number-serial-number-unique,
.which-electronic-communicatio {
  display: block;
}
.mispelled-device-container {
  margin: 0;
  position: relative;
  line-height: 20.8px;
}
.mispelled-device-identificat-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: 15px;
}
.electronic-communications-meta1 {
  text-decoration: underline;
}
.an-electronic-communications-n,
.communication,
.communications-services-the-d,
.distributing-or-exchanging-el,
.electronic-communications-meta,
.excluding-the-content-itself,
.on-the-location-of-the-device,
.to-trace-and-identify-the-sour {
  display: block;
}
.mispelled-electronic-container {
  margin: 0;
  height: 167.3px;
  position: relative;
  line-height: 20.8px;
  display: flex;
  align-items: center;
}
.mispelled-electronic-communi-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 2px;
  font-size: 14.9px;
}
.data-received-from {
  text-decoration: underline;
}
.about-available-options,
.data-received-from-third-party,
.link-the-companys-services-to,
.receive-information-about-that,
.should-visit-the-privacy-setti,
.the-third-party-account-to-au,
.to-limit-the-third-party-infor {
  display: block;
}
.mispelled-data-container {
  margin: 0;
  height: 146.5px;
  position: relative;
  line-height: 20.8px;
  display: flex;
  align-items: center;
}
.mispelled-data-received-from-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 5px;
  font-size: 14.9px;
}
.heading-419 {
  position: relative;
  line-height: 22px;
}
.heading-4-information-sharin-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 30px;
  color: #444;
}
.companys-affiliates-and,
.the-company-may6,
.the-data-privacy,
.within-the-limits {
  display: block;
}
.the-company-may-container7 {
  margin: 0;
  position: relative;
  line-height: 20.8px;
}
.the-company-may-sub-process-th-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 4px 0 30px;
}
.third-party-subcontractors {
  text-decoration: underline;
}
.data-to-its-third-party-servic,
.facilitation-of-rendering-of-t,
.third-party-subcontractors-th {
  display: block;
}
.mispelled-third-party-container {
  margin: 0;
  position: relative;
  line-height: 20.8px;
}
.mispelled-third-party-subcon-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 11px 0 30px;
  font-size: 14.6px;
}
.aggregate-information {
  text-decoration: underline;
}
.aggregate-information-where-l,
.process-the-personal-data-in-a,
.reasonably-be-used-to-identify {
  display: block;
}
.mispelled-aggregate-container {
  margin: 0;
  position: relative;
  line-height: 20.8px;
}
.mispelled-aggregate-informat-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 30px;
}
.advertising {
  text-decoration: underline;
}
.advertising-the-company-engage,
.aggregated-and-anonymized-form,
.market-and-promote-the-service,
.the-company-may-make-available {
  display: block;
}
.mispelled-advertising-container {
  margin: 0;
  position: relative;
  line-height: 20.8px;
}
.mispelled-advertising-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2px 0 30px;
  font-size: 14.9px;
}
.analytics {
  text-decoration: underline;
}
.analytics-the-company-uses-th,
.privacy-policies-regarding-the,
.to-collect-non-identifying-inf,
.websites {
  display: block;
}
.mispelled-analytics-container {
  margin: 0;
  position: relative;
  line-height: 20.8px;
}
.mispelled-analytics-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 10px 0 30px;
  font-size: 14.6px;
}
.business-transfers {
  text-decoration: underline;
}
.business-transfers-subject-to,
.companys-business-assets,
.data-may-be-made-available-to,
.of-assets-or-similar-transact,
.personal-data-is-transferred,
.receivership-in-which-the-comp,
.the-company-as-a-part-of-any-p {
  display: block;
}
.mispelled-business-container {
  margin: 0;
  height: 146.5px;
  position: relative;
  line-height: 20.8px;
  display: flex;
  align-items: center;
}
.mispelled-business-transfers-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 4px 0 26px;
}
.as-required-by {
  text-decoration: underline;
}
.and-protect-the-safety-of-the,
.as-required-by-law-and-similar,
.authorities-to-i-satisfy-an,
.governmental-request-ii-enf,
.potential-violations-thereof,
.spammalware-or-similar-incide,
.the-customers-requests-v-p,
.the-personal-data-to-its-third {
  display: block;
}
.mispelled-as-container {
  margin: 0;
  height: 167.3px;
  position: relative;
  line-height: 20.8px;
  display: flex;
  align-items: center;
}
.mispelled-as-required-by-law-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 1px 0 26px;
  font-size: 15px;
}
.process-the-personal,
.the-customer-hereby1 {
  display: block;
}
.the-customer-hereby-container1 {
  margin: 0;
  position: relative;
  line-height: 20.8px;
}
.the-customer-hereby-acknowledg-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 26px 0 30px;
  font-size: 14.6px;
}
.heading-420 {
  position: relative;
  line-height: 22px;
}
.heading-4-information-retent-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 30px;
  color: #444;
}
.legitimate-business-needs,
.legitimate-purposes,
.the-company-retains,
.with-applicable-legal {
  display: block;
}
.the-company-retains-container {
  margin: 0;
  position: relative;
  line-height: 20.8px;
}
.the-company-retains-the-collec-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 10px 0 30px;
  font-size: 14.9px;
}
.backup-archives-then,
.in-case-where,
.personal-data-the,
.possible-for-example,
.processing-until-deletion {
  display: block;
}
.in-case-where-container {
  margin: 0;
  position: relative;
  line-height: 20.8px;
}
.in-case-where-there-is-no-ongo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 11px 0 30px;
}
.periodically-by-the,
.the-ordinary-course,
.the-personal-data {
  display: block;
}
.the-personal-data-container {
  margin: 0;
  position: relative;
  line-height: 20.8px;
}
.the-personal-data-provided-by-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 23px 0 30px;
  font-size: 14.5px;
}
.applicable-laws-is-stored-for,
.laws-may-command-should-the-c,
.necessary-to-achieve-the-purpo,
.plus-certain-period-after-deac,
.required-for-identification-pu,
.the-company-stores-the-custome {
  display: block;
}
.privacyunity-esimceu {
  color: #39f;
}
.at-any-time-the-customer-shal,
.deletion-of-hisher-personal-d,
.render-the-services-to-such-cu,
.the-avoidance-of-doubt-the-cu,
.to-verify-the-customers-ident {
  display: block;
}
.the-company-stores-container {
  margin: 0;
  height: 229.7px;
  position: relative;
  line-height: 20.8px;
  display: flex;
  align-items: center;
}
.the-company-stores-the-custome-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 28px;
}
.heading-421 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 99.3px;
}
.heading-4-data-access-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 30px;
  font-size: 14.6px;
  color: #444;
}
.certain-persona-data-is-access {
  display: block;
}
.privacyunity-esimceu1 {
  color: #39f;
}
.span31 {
  color: #9a9e9e;
}
.personal-data-the-customer-nee {
  display: block;
}
.certain-persona-data-container {
  margin: 0;
  height: 41.6px;
  flex: 1;
  position: relative;
  line-height: 20.8px;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.certain-persona-data-is-access-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2px 0 30px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 14.6px;
}
.be-temporarily-limited,
.companys-ability-to,
.data-about-a,
.secrets-or-other,
.the-customers-ability1,
.to-a-third,
.to-investigate-make {
  display: block;
}
.the-customers-ability-container {
  margin: 0;
  height: 146.5px;
  position: relative;
  line-height: 20.8px;
  display: flex;
  align-items: center;
}
.the-customers-ability-to-acce-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 3px 0 27px;
  font-size: 14.9px;
}
.customers-personal-data2,
.reasonable-steps-to,
.to-protect-the {
  display: block;
}
.to-protect-the-container {
  margin: 0;
  position: relative;
  line-height: 20.8px;
}
.to-protect-the-customers-priv-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 13px 0 30px;
  font-size: 14.6px;
}
.heading-422 {
  margin: 0;
  position: relative;
  line-height: 22px;
}
.heading-4-customer-data-prot-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 30px;
  box-sizing: border-box;
  max-width: 100%;
  color: #444;
}
.the-customer-may-at-any-time-a {
  display: block;
}
.privacyunity-esimceu2 {
  color: #39f;
}
.span32 {
  color: #9a9e9e;
}
.the-customers-personal-data-b {
  display: block;
}
.the-customer-may-container2 {
  margin: 0;
  position: relative;
  line-height: 20.8px;
}
.the-customer-may-at-any-time-a-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 21px 0 30px;
  font-size: 14.6px;
}
.data-ask-the-company-to-restr,
.process-the-personal-data-the,
.request-portability-of-custome,
.the-customer-may-at-any-time-o {
  display: block;
}
.privacyunity-esimceu3 {
  color: #39f;
}
.avoidance-of-doubt-the-custom,
.conducted-in-reliance-on-lawfu,
.personal-data-makes-it-impossi,
.such-customer,
.the-lawfulness-of-any-processi,
.to-privacyunity-esimceu-wit,
.withdrawal-nor-will-it-affect,
.withdrawal-of-consent-objecti {
  display: block;
}
.the-customer-may-container3 {
  margin: 0;
  height: 250.5px;
  flex: 1;
  position: relative;
  line-height: 20.8px;
  display: flex;
  align-items: center;
}
.the-customer-may-at-any-time-o-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 1px 0 30px;
  font-size: 14.9px;
}
.companys-processing-of,
.customer-has-the,
.the-customer-should {
  display: block;
}
.customer-has-the-container {
  margin: 0;
  position: relative;
  line-height: 20.8px;
}
.customer-has-the-right-to-comp-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 6px 0 30px;
  font-size: 15px;
}
.exercise-their-data,
.the-company-responds {
  display: block;
}
.the-company-responds-container {
  margin: 0;
  height: 42.5px;
  position: relative;
  line-height: 20.8px;
  display: flex;
  align-items: center;
}
.the-company-responds-to-all-re-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 37px 0 29px;
}
.heading-423 {
  position: relative;
  line-height: 22px;
}
.heading-4-opting-in-and-out-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 30px;
  font-size: 14.6px;
  color: #444;
}
.communications-to-unsubscribe,
.customer-shall-withdraw-hishe,
.the-services-promotions-spec,
.to-an-option-of-receiving-the,
.unsubscribe-weblink-contained,
.upon-registering-an-account-or {
  display: block;
}
.privacyunity-esimceu4 {
  color: #39f;
}
.span33 {
  color: #9a9e9e;
}
.request-at-privacyunity-esimc {
  display: block;
}
.upon-registering-an-container {
  margin: 0;
  height: 145.6px;
  position: relative;
  line-height: 20.8px;
  display: flex;
  align-items: center;
}
.upon-registering-an-account-or-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 12px 0 29px;
}
.contractors-marketing-and,
.follow-the-relevant,
.out-rights-with,
.should-the-customer1 {
  display: block;
}
.should-the-customer-container {
  margin: 0;
  height: 84.1px;
  position: relative;
  line-height: 20.8px;
  display: flex;
  align-items: center;
}
.should-the-customer-choose-any-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2px 0 28px;
}
.heading-424 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 115.1px;
}
.heading-4-website-links-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 30px;
  font-size: 15.3px;
  color: #444;
}
.any-websites-except,
.be-observed-by,
.customers-device-collect,
.displayed-as-links,
.linked-to-the,
.practices-content-informatio,
.privacy-policy-is,
.services-these-other,
.the-website-may,
.website-the-company {
  display: block;
}
.the-website-may-container {
  margin: 0;
  height: 208px;
  position: relative;
  line-height: 20.8px;
  display: flex;
  align-items: center;
}
.the-website-may-contain-links-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 30px;
  font-size: 14.9px;
}
.heading-425 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 72px;
}
.heading-4-security-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 30px;
  font-size: 14.6px;
  color: #444;
}
.this-privacy-policy-forms-an-i-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14.4px;
  flex-shrink: 0;
  max-width: 100%;
}
.appropriate-to-the,
.connection-with-the1,
.measures-the-company,
.protect-the-information,
.so-the-company,
.the-company-is2 {
  display: block;
}
.the-company-is-container1 {
  margin: 0;
  position: relative;
  line-height: 20.8px;
}
.heading-426 {
  position: relative;
  font-size: 15px;
  line-height: 22px;
  color: #444;
}
.the-company-is-committed-to-pr-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15.9px;
  max-width: 100%;
}
.frame-wrapper18 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 17px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.accordance-with-this,
.laws-as-the,
.personal-data-to,
.the-company-is3,
.the-company-will,
.was-originally-collected,
.when-the-company {
  display: block;
}
.the-company-is-container2 {
  margin: 0;
  position: relative;
  line-height: 20.8px;
}
.data-transfer-by,
.the-customer-hereby2 {
  display: block;
}
.the-customer-hereby-container2 {
  margin: 0;
  position: relative;
  font-size: 14.8px;
  line-height: 20.8px;
  display: inline-block;
  max-width: 100%;
}
.heading-427 {
  position: relative;
  font-size: 14.5px;
  line-height: 22px;
  color: #444;
}
.accepted-by-such-customer-thro,
.any-time-due-to-development-of,
.become-effective-for-a-particu,
.regarding-this-privacy-policy,
.required-by-the-data-privacy-l,
.this-privacy-policy-is-subject {
  display: block;
}
.privacyunity-esimceu5 {
  color: #39f;
}
.or-via-post {
  color: #9a9e9e;
}
.officer-at-privacyunity-esimc {
  display: block;
}
.this-privacy-policy-container1,
.unity-esim-connect4 {
  margin: 0;
  position: relative;
  line-height: 20.8px;
  max-width: 100%;
}
.this-privacy-policy-container1 {
  display: inline-block;
}
.unity-esim-connect4 {
  width: 492.3px;
  display: flex;
  align-items: center;
}
.hereto-makes-it,
.refusal-to-accept,
.respective-customer {
  display: block;
}
.refusal-to-accept-container {
  margin: 0;
  position: relative;
  font-size: 14.8px;
  line-height: 20.8px;
  display: inline-block;
  max-width: 100%;
}
.all-other-matters,
.case-of-any,
.governed-by-gdpr,
.mandatory-rules-of,
.prevail {
  display: block;
}
.all-other-matters-container {
  margin: 0;
  height: 104.9px;
  position: relative;
  font-size: 14.8px;
  line-height: 20.8px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.the-company-is-engaged-in-a-gl-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 16.9px;
  box-sizing: border-box;
  gap: 14.4px;
  max-width: 100%;
  flex-shrink: 0;
  font-size: 14.6px;
}
.horizontal-divider4 {
  height: 2px;
  width: 70px;
  position: relative;
  border-bottom: 2px solid #9aa7b3;
  box-sizing: border-box;
}
.horizontal-divider-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
}
.frame-parent3 {
  height: 7875.7px;
  width: 590px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 32.9px;
  box-sizing: border-box;
  gap: 14px;
  max-width: 100%;
  text-align: left;
  font-size: 14.8px;
  color: #9a9e9e;
  font-family: Inter;
}
@media screen and (max-width: 1050px) {
  .heading-12 {
    font-size: 31px;
    line-height: 34px;
  }
}
@media screen and (max-width: 450px) {
  .heading-12 {
    font-size: 23px;
    line-height: 25px;
  }
  .heading-4-information-provid-wrapper,
  .mispelled-cookies-and-other-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
